---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex h-[82vh]">
        <div class="m-auto">
            <h1 id="code" class="text-center">404</h1>
            <h3 id="message" class="text-center">PAGE NOT FOUND</h3>
        </div>
    </div>
</Layout>

<style>
    #code {
        font-size: 50pt;
        font-weight: 400;
    }
    #message {
        font-size: 25pt;
        font-weight: 100;
    }
</style>
