---
import { Picture } from "astro:assets";
import { getAllImages } from "../utils/gallery";

const images = await getAllImages();
---

<div class="my-2 mb-8" transition:animate="fade">
    <div class="sm:columns-1 md:columns-2 lg:columns-3 xl:columns-3">
        {
            images.map((image) => (
                <div>
                    <a
                        href={`/gallery/${image.fileName}`}
                        data-astro-prefetch="hover"
                    >
                        <Picture
                            src={image.src}
                            alt="Sorry, I will work on getting alt text implemented. One step at a time."
                            class="mb-4 h-auto max-w-full rounded-sm"
                            decoding="sync"
                            loading="eager"
                            inferSize={true}
                            quality={50}
                            style={image.attributes.style}
                        />
                    </a>
                </div>
            ))
        }
    </div>
</div>
