---
const year = new Date().getFullYear();
---

<footer>
    <div class="mb-px-50">
        <main>
            <section>
                <div id="container">
                    <div id="box1">
                        <h5 id="name">
                            <a
                                class="hover:text-blue-400"
                                href="mailto:jon@spengy.com">JON@SPENGY.COM</a
                            >
                        </h5>
                    </div>
                    <div id="box2">
                        <p>© {year}</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</footer>

<style>
    #container {
        width: 100%;
        height: 50px;
    }
    #box1 {
        display: inline-block;
        float: left;
    }
    #box2 {
        display: inline-block;
        float: right;
    }
    #name {
        font-size: 12pt;
    }
</style>
