---
import github from "../assets/github.svg"
---

<div>
	<main>
		<section>
            <div id="container" class="my-4">
                <div id="box1">
                    <a href="/">
                        <h3 id="name"> SPENGY </h3>
                    </a>
                </div>
                <div id="box2">
                    <a href="https://github.com/jspengeman/jspengy"> 
                        <img id="github" src={github.src} alt="github logo" /> 
                    </a>
                </div>
            </div>
		</section>
	</main>
</div>

<style>
    #container {
        display: inline-block;
        width: 100%;
    }
    #box1 {
        display: inline-block;
        float: left;
    }
    #box2 {
        display: inline-block;
        float: right;
    }
    #github {
        height: 25px;
        width: 25px;
        margin-top: 8px;
    }
    #name {
        font-size: 20pt;
    }
</style>
