---
import { ClientRouter } from "astro:transitions";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "@fontsource/roboto/latin-100.css";
import robotoWoff1 from "@fontsource/roboto/files/roboto-latin-100-normal.woff?url";
import robotoWoff2 from "@fontsource/roboto/files/roboto-latin-100-normal.woff2?url";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <link
            rel="preload"
            as="font"
            href={robotoWoff1}
            type="font/woff"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            as="font"
            href={robotoWoff2}
            type="font/woff2"
            crossorigin="anonymous"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="photography portfolio" />
        <title>SPENGY</title>
        <ClientRouter fallback="swap" />
        <slot name="head" />
    </head>
    <body>
        <div class="mx-8 flex flex-col min-h-screen justify-between">
            <Header />
            <main class="flex-grow">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        color: #2d343b;
        background-color: #f3f2f2;
        font-family: "Roboto";
    }
</style>
